In [3]:
import requests
import random
import json
import pandas as pd
from requests import post

In [5]:
response = post('https://api.igdb.com/v4/age_ratings', **{'headers': {'Client-ID': 'gynzwnbf94dprczgrd0uto6uoz131z', 'Authorization': 'Bearer u2409t8r8i6vygc08ttuc0x4cetbyj'},'data': 'fields category,checksum,content_descriptions,organization,rating,rating_category,rating_content_descriptions,rating_cover_url,synopsis;'})
data = response.json()
df_edad = pd.DataFrame(data)
df_edad

,id,category,content_descriptions,rating,checksum,organization,rating_category,rating_content_descriptions
0,94924,3,[98985],15,253dddef-d8ae-a69b-3b16-eeb1abac620b,3,15,[65]
1,202059,5,[183275],24,90003678-9f97-8be6-89a4-c58c66c31923,5,24,[69]
2,161368,6,"[147374, 147375]",31,f7659d86-8ff8-2701-2f71-81883483ce24,6,31,"[84, 75]"
3,207012,5,[186489],25,6bfc501a-0f78-ad44-c8ab-cc20b052a37d,5,25,[68]
4,76012,1,[78426],8,2c32a73f-8621-139a-f7ff-7f78e92457d2,1,3,[6]
5,72084,1,"[74514, 74515, 74516, 74517]",10,f10e5208-5a2f-bdc1-2c27-03d193482ab5,1,5,"[3, 32, 45, 29]"
6,38010,1,"[39523, 39524]",9,a38664e8-fbe8-ffb4-16c7-60a1819b15ed,1,4,"[47, 32]"
7,183042,1,"[162569, 162570]",10,5f8b22c4-57f8-964a-7afc-2fcef3343b4f,1,5,"[3, 29]"
8,65987,1,"[67563, 67564]",10,fbd75398-8026-097a-fba2-0bb07bd0b826,1,5,"[15, 29]"
9,112979,3,"[116158, 116159]",14,158320a2-4d01-8080-0221-a65bdbff6a62,3,14,"[60, 61]"

In [6]:
response = post('https://api.igdb.com/v4/age_rating_categories', **{'headers': {'Client-ID': 'gynzwnbf94dprczgrd0uto6uoz131z', 'Authorization': 'Bearer u2409t8r8i6vygc08ttuc0x4cetbyj'},'data': 'fields checksum,created_at,organization,rating,updated_at;'})
data = response.json()
df_ratingedad = pd.DataFrame(data)
df_ratingedad

,id,rating,organization,created_at,updated_at,checksum
0,1,RP,1,1741259102,1741259102,a8003a54-0f25-e215-9cab-af4c30b55ca5
1,2,EC,1,1741259102,1741259102,2ed538d7-be85-0d35-55ac-1841724ee533
2,3,E,1,1741259102,1741259102,d0a321c9-ec16-6ffd-b5f9-2d722cb02484
3,5,T,1,1741259102,1741259102,130c3b28-cda7-7d5f-c8be-1465ac81b7b8
4,7,AO,1,1741259102,1741259102,db437094-3180-936e-8a5f-63acd426aa0e
5,8,3,2,1741259102,1741259102,ec3ce7d9-e9b3-3842-ba23-d942066268fc
6,9,7,2,1741259102,1741259102,9e5316ff-fd1b-6340-af7a-f576a62ee640
7,11,16,2,1741259102,1741259102,d11f439a-c24d-9074-d5f4-2e139865f438
8,12,18,2,1741259102,1741259102,8339e1b9-9441-e7e3-f5d6-18f405b29200
9,13,A,3,1741259102,1741259102,5a43486c-7e4e-4d2a-dc3f-617230649c21

In [38]:
response = post('https://api.igdb.com/v4/age_rating_content_descriptions', **
                {'headers': 
                 {'Client-ID':'gynzwnbf94dprczgrd0uto6uoz131z', 
                  'Authorization':'Bearer u2409t8r8i6vygc08ttuc0x4cetbyj'},
                 'data': 'fields category,checksum,description;'})
data = response.json()
df_descripcion_rating = pd.DataFrame(data)
df_descripcion_rating

   id  category      description                              checksum
0  47        21  Strong Language  befd2777-5035-29b9-a592-3e0ba572b3bb
1  20        21  Strong Language  a0f5a6b5-3f93-00bc-f733-c5480af42132
2  50        21  Strong Language  21d63306-18a3-73e9-1a02-922431d31b0f
3  35         3            Blood  18821468-e01a-5629-67f8-36539a6cc69a
4  39        21  Strong Language  24807756-487a-29aa-8858-7781e3ce5e06
5  43        29         Violence  3a0dc70e-9aa9-7257-a68b-ac22ebb7e0eb
6  55         3            Blood  e2e5ea59-1814-9ba9-13bb-4cce76ac8596
7  37        29         Violence  d8b6f4bb-4ef8-77fb-e7dc-c25612b0b04a
8  25        29         Violence  34a8f69b-330e-12ac-4c3f-52c32fa710fa
9  48         3            Blood  3f1d8596-39c7-fda7-7d05-9c452fbd5a57

In [9]:
response = post('https://api.igdb.com/v4/age_rating_content_descriptions_v2', **
                {'headers': 
                 {'Client-ID':'gynzwnbf94dprczgrd0uto6uoz131z', 
                  'Authorization':'Bearer u2409t8r8i6vygc08ttuc0x4cetbyj'},
                 'data': 'fields checksum,created_at,description,organization,updated_at;'})
data = response.json()
df_descripcion_rating2 = pd.DataFrame(data)
df_descripcion_rating2

,id,description,organization,created_at,updated_at,checksum
0,19,Sexual Violence,1,1741259102,1741259102,20de5149-8b45-e984-8dee-e62ac7ae8071
1,20,Simulated Gambling,1,1741259102,1741259102,ce2f745f-3bf9-4ae9-6bb9-1fbaba4a1a14
2,25,Tobacco Reference,1,1741259102,1741259102,20d3cf4f-e6b3-e9af-39bc-70ea49d01748
3,26,Use of Alcohol,1,1741259102,1741259102,4eed64dc-3e3c-bcd5-8e19-ea0794ce35be
4,23,Strong Sexual Content,1,1741259102,1741259102,dca75ad4-e0ea-f3d4-9c84-d4a31412f37f
5,29,Violence,1,1741259102,1741259102,8a498eed-c51f-d821-6d5b-ab989d9ea25b
6,83,Drogas Ilícitas (Illegal Drugs),6,1741259103,1741259103,2e71ba38-8d72-50be-36eb-0e296330354d
7,85,Atos Criminosos (Criminal Acts),6,1741259103,1741259103,b9c28c0a-804d-7372-3460-e912098fd07c
8,4,Blood and Gore,1,1741259102,1741259102,34c0a47c-4d11-2f1f-4ca8-2da87e6a4fff
9,7,Crude Humor,1,1741259102,1741259102,5e0b5b03-6cf5-0df2-f475-01f484526b81

In [10]:
response = post('https://api.igdb.com/v4/age_rating_organizations', **
                {'headers': 
                 {'Client-ID':'gynzwnbf94dprczgrd0uto6uoz131z', 
                  'Authorization':'Bearer u2409t8r8i6vygc08ttuc0x4cetbyj'},
                 'data': 'fields checksum,created_at,name,updated_at;'})
data = response.json()
df_organization = pd.DataFrame(data)
df_organization

   id       name  created_at  updated_at                              checksum
0   1       ESRB  1741259102  1741259102  b9f986ef-b56d-b792-1e3e-34b0db076b47
1   2       PEGI  1741259102  1741259102  379ffae2-ce57-3f19-5fee-ecb4fa46563d
2   3       CERO  1741259102  1741259102  7822105e-a835-dd6c-6c53-3579af54052f
3   4        USK  1741259102  1741259102  960bd40b-8f7a-a7ac-976e-43c1b5629b6d
4   5       GRAC  1741259102  1741259102  584080da-853b-96d4-f41e-460baa6199d8
5   6  CLASS_IND  1741259102  1741259102  234c1653-794d-6455-003e-491b193370c5
6   7        ACB  1741259102  1741259102  5efcdfaa-d4be-d89b-d922-c2c4c78dfb4c

In [11]:
response = post('https://api.igdb.com/v4/alternative_names', **
                {'headers': 
                 {'Client-ID':'gynzwnbf94dprczgrd0uto6uoz131z', 
                  'Authorization':'Bearer u2409t8r8i6vygc08ttuc0x4cetbyj'},
                 'data': 'fields checksum,comment,game,name;'})
data = response.json()
df_alternative_name = pd.DataFrame(data)
df_alternative_name

,id,comment,game,name,checksum
0,75586,Stylized title,175241,CROSSQUARE,d3493ad4-302e-c5b8-30cc-bbaad30c69d6
1,39844,Japanese title - translated,6721,Super Speed Racing,56a0fdf7-1cb8-91a8-da33-6731cd644f9a
2,10452,Other,63867,Castle of Heroes,e84c55c1-395d-9c16-c760-3217904fca5a
3,14504,Other,5153,SWSWS,776a7722-7622-8594-26a6-f0bdd95b51c8
4,33538,Japanese title - original,37616,スプリガンmark2リ・テラフォーム・プロジェクト,0fcf9436-dc24-4778-1f9d-ee96b45c36e1
5,39848,Alternative title,5356,Strike Fighter,8d765f87-7828-dca3-163d-400d7a88e444
6,36973,Abbreviation,43577,DDR Extreme 2,af382876-f341-2c42-d0db-5277ba32c2b1
7,167422,Abbreviation,5884,kof2002,da4415f6-6d02-6d2a-3555-b3101bc32487
8,31538,Other,5226,Tiger 13,0815b885-662a-0dd0-3057-9e1456cc425a
9,15640,Other,73235,The Vortex: Quantum Gate 2,eb838470-e0ac-c04d-33d8-d9b037080efb

In [12]:
response = post('https://api.igdb.com/v4/artworks', **
                {'headers': 
                 {'Client-ID':'gynzwnbf94dprczgrd0uto6uoz131z', 
                  'Authorization':'Bearer u2409t8r8i6vygc08ttuc0x4cetbyj'},
                 'data': 'fields alpha_channel,animated,checksum,game,height,image_id,url,width;'})
data = response.json()
df_artworks = pd.DataFrame(data)
df_artworks

,id,game,height,image_id,url,width,checksum,alpha_channel,animated
0,5305,2039,500,t0ufrugxdrbce8giwhvo,//images.igdb.com/igdb/image/upload/t_thumb/t0...,800,0dec6ec1-4e83-b93d-d44b-33761f81891f,NaN,NaN
1,5307,2038,654,sbhgne8waoibdd3kheia,//images.igdb.com/igdb/image/upload/t_thumb/sb...,800,159f1f7d-02f6-7554-4181-91a3b72927e8,NaN,NaN
2,2319,7275,600,vogloesbeveyhxls3iwz,//images.igdb.com/igdb/image/upload/t_thumb/vo...,1000,c6fd91e3-a634-efca-29a6-16a22513ad8f,NaN,NaN
3,1321,5845,3200,vvjcw61cikqq8e0hwejz,//images.igdb.com/igdb/image/upload/t_thumb/vv...,2400,754d44b7-f257-33c6-05b5-6eee128a194f,NaN,NaN
4,8875,14390,1080,ar6uj,//images.igdb.com/igdb/image/upload/t_thumb/ar...,1920,5c773f7a-dd6b-f5ce-4ff2-c1e8c5b5e464,False,False
5,1323,5845,4000,hoyfueymrkf2czmadn92,//images.igdb.com/igdb/image/upload/t_thumb/ho...,3000,cda30e86-07fd-6306-315a-1fc46dfb53c1,NaN,NaN
6,4854,1246,600,l27xmr2s3qmdnck1cjio,//images.igdb.com/igdb/image/upload/t_thumb/l2...,800,3a4a7fb4-cad3-107c-e430-4e3d890f1585,NaN,NaN
7,5927,19169,4422,ar4kn,//images.igdb.com/igdb/image/upload/t_thumb/ar...,8000,a4894d7d-23bc-e38b-b78b-a84ba6bf4cc3,False,False
8,759,2003,740,e7aeudqexei2yijfq3pk,//images.igdb.com/igdb/image/upload/t_thumb/e7...,1260,ab45e0bb-3c1e-cc6a-d10b-71085b6f8ebd,NaN,NaN
9,1355,977,2154,peucx3lxkmy9dgky80jt,//images.igdb.com/igdb/image/upload/t_thumb/pe...,3558,f8e58385-d2a9-0a04-864e-46130cf56474,NaN,NaN

In [14]:
response = post('https://api.igdb.com/v4/characters', **
                {'headers': 
                 {'Client-ID':'gynzwnbf94dprczgrd0uto6uoz131z', 
                  'Authorization':'Bearer u2409t8r8i6vygc08ttuc0x4cetbyj'},
                 'data': 'fields akas,character_gender,character_species,checksum,country_name,created_at,description,games,gender,mug_shot,name,slug,species,updated_at,url;'})
data = response.json()
df_characters = pd.DataFrame(data)
df_characters

,id,created_at,games,gender,mug_shot,name,slug,species,updated_at,url,checksum,character_gender,character_species,akas,description
0,8303,1462962430,[4195],0.0,3688.0,Raven,raven,5.0,1483471464,https://www.igdb.com/characters/raven,aff6df00-ecbf-e915-f2b3-bb7d759d9f7f,0.0,5.0,NaN,NaN
1,12822,1551455886,[26758],1.0,3938.0,Peach,peach,1.0,1589279625,https://www.igdb.com/characters/peach,6fe650be-e99c-26eb-75ee-9514f738368d,1.0,1.0,[Princess Peach],Peach (or Princess Peach) is a main protagonis...
2,3305,1421352718,[6517],1.0,4010.0,Jolyne Cujoh,jolyne-cujoh,1.0,1601910822,https://www.igdb.com/characters/jolyne-cujoh,b3ecd285-dbf3-8978-149a-80b3e03a03f1,1.0,1.0,"[空条 徐倫, JoJo (by her mother)]",Jolyne Cujoh is the protagonist of Part 6 and ...
3,1832,1410985350,[1020],0.0,3896.0,William Angio - Fame or Shame,william-angio-fame-or-shame,1.0,1566111519,https://www.igdb.com/characters/william-angio-...,1303d4ed-2b0e-b8b2-bb77-cb1b9eace0bc,0.0,1.0,NaN,Angio is an amateur singer who resembles a you...
4,12312,1547343005,[76885],1.0,4118.0,Isabella 'Ivy' Valentine,isabella-ivy-valentine,1.0,1670010610,https://www.igdb.com/characters/isabella-ivy-v...,69dfd5dc-bd6c-c0d2-aed9-9287cdeb7f18,1.0,1.0,[Ivy],"Isabella ""Ivy"" Valentine is a character in the..."
5,7841,1462573998,"[6750, 51448]",0.0,4040.0,Ragna the Bloodedge,ragna-the-bloodedge,1.0,1625595491,https://www.igdb.com/characters/ragna-the-bloo...,1a562480-3297-369b-db91-8a2bbb64bb91,0.0,1.0,"[Grim Reaper, Man of the Azure]",Ragna the Bloodedge is the main protagonist of...
6,10735,1502127224,NaN,NaN,NaN,Ina Guleed Samakab,ina-guleed-samakab,NaN,1632237001,https://www.igdb.com/characters/ina-guleed-sam...,34d735c8-fc0e-0b57-a838-cf391889e235,NaN,NaN,NaN,NaN
7,10734,1502127224,NaN,NaN,NaN,Dragon Four,dragon-four,NaN,1632237001,https://www.igdb.com/characters/dragon-four,267379d1-0a11-55ef-2da7-b29b8c891270,NaN,NaN,NaN,NaN
8,315,1388429403,[74],1.0,3852.0,Miranda Lawson,miranda-lawson,1.0,1526390197,https://www.igdb.com/characters/miranda-lawson,c0e203cf-a36e-0264-dd21-45e921ff46cd,1.0,1.0,NaN,Miranda Lawson is a human Cerberus Officer. As...
9,7868,1462574009,"[2062, 2061, 55090, 11397]",0.0,4006.0,Kazuma Kiryu,kazuma-kiryu,1.0,1709842107,https://www.igdb.com/characters/kazuma-kiryu,21a7260c-9ec6-35c8-3aef-6605fa1464d5,0.0,1.0,"[Mister MesuKing, Uncle Kaz, Kazzy, Kazkaz, Ka...",Kiryu Kazuma is the former main protagonist of...

In [16]:
response = post('https://api.igdb.com/v4/character_genders', **
                {'headers': 
                 {'Client-ID':'gynzwnbf94dprczgrd0uto6uoz131z', 
                  'Authorization':'Bearer u2409t8r8i6vygc08ttuc0x4cetbyj'},
                 'data': 'fields checksum,created_at,name,updated_at;'})
data = response.json()
df_genders = pd.DataFrame(data)
df_genders

   id    name  created_at  updated_at                              checksum
0   0    Male  1738022400  1738022400  550e8400-e29b-41d4-a716-446655440000
1   1  Female  1738022400  1738022400  550e8400-e29b-41d4-a716-446655440001
2   2   Other  1738022400  1738022400  550e8400-e29b-41d4-a716-446655440002

In [18]:
response = post("https://api.igdb.com/v4/character_mug_shots", **
                {'headers': 
                 {'Client-ID':'gynzwnbf94dprczgrd0uto6uoz131z', 
                  'Authorization':'Bearer u2409t8r8i6vygc08ttuc0x4cetbyj'},
                 'data': 'fields alpha_channel,animated,checksum,height,image_id,url,width;'})
data = response.json()
df_character_mug_shots = pd.DataFrame(data)
df_character_mug_shots

,id,height,image_id,url,width,checksum
0,3554,1080,hkulihu7z8g4mjjriwag,//images.igdb.com/igdb/image/upload/t_thumb/hk...,832,544a77c6-064c-5911-38c6-a240d81aed5a
1,3581,375,nzn4ppwhofl04vyipcri,//images.igdb.com/igdb/image/upload/t_thumb/nz...,640,c056aec6-231b-4f66-b138-dec806a1d601
2,3594,479,xwp5p9deiutkziy4qpxr,//images.igdb.com/igdb/image/upload/t_thumb/xw...,345,035058f6-31df-60dc-c4a5-12d8e8a091da
3,3600,768,cw1ueyhpkskaxrwqs4ye,//images.igdb.com/igdb/image/upload/t_thumb/cw...,1364,c8edd77e-b12e-4f9c-d16a-2b1b7e4998d2
4,3611,830,kqnbdapuwy8ajpxqipow,//images.igdb.com/igdb/image/upload/t_thumb/kq...,830,ee427103-1265-2e0b-56fd-aa353da1e3aa
5,3613,352,w8htgb5k9m81w3stzq5z,//images.igdb.com/igdb/image/upload/t_thumb/w8...,270,abf9d4fc-b40e-a896-f59e-be933ce39777
6,3621,375,csmfjrti5ucwaoqtutrk,//images.igdb.com/igdb/image/upload/t_thumb/cs...,295,9216f11a-9d92-10f8-5fd5-a93b58ab2e89
7,3624,606,ptv3phcqzy3horhguzgm,//images.igdb.com/igdb/image/upload/t_thumb/pt...,441,66b3793a-33a4-3467-65e4-ca7d60f0ba96
8,3627,640,wreijwynlk8jqm9xw1vv,//images.igdb.com/igdb/image/upload/t_thumb/wr...,491,b605d402-3a16-1b65-da75-dee1669e758e
9,3630,428,c4j0cb96bgakr88bjfvl,//images.igdb.com/igdb/image/upload/t_thumb/c4...,316,eff875db-3988-d0a1-9a5f-6c3529b05b48

In [20]:
response = post('https://api.igdb.com/v4/character_species', **
                {'headers': 
                 {'Client-ID':'gynzwnbf94dprczgrd0uto6uoz131z', 
                  'Authorization':'Bearer u2409t8r8i6vygc08ttuc0x4cetbyj'},
                 'data': 'fields checksum,created_at,name,updated_at;'})
data = response.json()
df_character_species = pd.DataFrame(data)
df_character_species

   id     name  created_at  updated_at                              checksum
0   1    Human  1738022400  1738022400  550e8400-e29b-41d4-a716-446655440001
1   2    Alien  1738022400  1738022400  550e8400-e29b-41d4-a716-446655440002
2   3   Animal  1738022400  1738022400  550e8400-e29b-41d4-a716-446655440003
3   4  Android  1738022400  1738022400  550e8400-e29b-41d4-a716-446655440004
4   5  Unknown  1738022400  1738022400  550e8400-e29b-41d4-a716-446655440005

In [21]:
response = post('https://api.igdb.com/v4/collections', **
                {'headers': 
                 {'Client-ID':'gynzwnbf94dprczgrd0uto6uoz131z', 
                  'Authorization':'Bearer u2409t8r8i6vygc08ttuc0x4cetbyj'},
                 'data': 'fields as_child_relations,as_parent_relations,checksum,created_at,games,name,slug,type,updated_at,url;'})
data = response.json()
df_collections = pd.DataFrame(data)
df_collections

,id,created_at,games,name,slug,updated_at,url,checksum,type
0,1056,1411988955,"[7803, 7804, 7805, 7806, 33965, 36868, 70261, ...",Bubsy,bubsy,1720750235,https://www.igdb.com/collections/bubsy,facd1ff9-7dca-a79c-2f4c-e9e0b8b79834,1
1,11118,1737158072,[288879],Rope'n'Fly,ropenfly,1739828481,https://www.igdb.com/collections/ropenfly,a1ac1a66-f237-bd30-7e57-93e24e97b32b,1
2,7374,1633638143,[175622],SuperStar,superstar,1707384374,https://www.igdb.com/collections/superstar,a18a5b29-d9bc-95c6-9045-d3afe49b88a8,1
3,7089,1623243964,"[281381, 231771, 231772, 153805, 154229, 15423...",Chunithm,chunithm,1743492986,https://www.igdb.com/collections/chunithm,d2e644dc-6454-1030-70c2-1dba2e52767b,1
4,11957,1747085852,NaN,sonic adventure 2,sonic-adventure-2,1747085852,https://www.igdb.com/collections/sonic-adventu...,13754b5c-64b9-7179-a358-356e4f79a1c6,1
5,2534,1480280649,"[18569, 24337, 25702, 30251, 44596, 78639, 80489]",SUGURI,suguri,1713733402,https://www.igdb.com/collections/suguri,069e25ab-c1b4-e7f4-63b0-da9f8ee75ba7,1
6,2216,1467705178,"[19877, 19878, 19879]",Squids,squids,1706141187,https://www.igdb.com/collections/squids,02c8cc1c-7fc5-9cbf-9d55-58fd3f5fddae,1
7,9828,1713829406,"[198206, 198208]",Taisen Golf,taisen-golf,1714165144,https://www.igdb.com/collections/taisen-golf,678f3074-1348-6bac-a738-c3313b033fa1,1
8,9088,1698058709,"[273446, 276101, 276102]",Crescent Satsujin Jiken,crescent-satsujin-jiken,1698058709,https://www.igdb.com/collections/crescent-sats...,c34bb480-5b4a-570a-a0d0-2938bc295366,1
9,1089,1415524975,"[8176, 8178, 8179, 8180, 17361]",Millennium Series,millennium-series,1706003521,https://www.igdb.com/collections/millennium-se...,affa5064-f462-b9dc-952a-f22f8aac3004,1

In [26]:
response = post('https://api.igdb.com/v4/collection_memberships', **
                {'headers': 
                 {'Client-ID':'gynzwnbf94dprczgrd0uto6uoz131z', 
                  'Authorization':'Bearer u2409t8r8i6vygc08ttuc0x4cetbyj'},
                 'data': 'fields checksum,collection,created_at,game,type,updated_at;'})
data = response.json()
df_collections_memberships = pd.DataFrame(data)
df_collections_memberships

,id,game,collection,type,updated_at,created_at,checksum
0,1006,225512,8409,1,1696835502,1696692556,e090f827-0062-737f-5d23-914fae5e9f13
1,1,12736,380,2,1694163574,1694163568,2c50522c-96d6-7542-7b4e-5e033ad9c547
2,10622,217645,8242,1,1705560069,1705500549,a82a4d5a-39f0-cd1d-374e-8ac0ef08e365
3,1621,274271,2275,1,1698660042,1698618660,e8752fd5-f14c-0501-eb8f-bd8e439fcaf9
4,1005,270624,9050,1,1696846919,1696688990,ed2ded1a-497c-2d5b-e32a-59d52b439dfd
5,9,268709,6137,1,1695767985,1695747167,fb5c2d53-9054-1816-0cfe-4425a28943fa
6,1009,145058,1052,1,1696835652,1696698295,c6fc477f-ed78-861e-bad9-25b5c6c6e07f
7,1010,26820,7258,1,1696835682,1696698508,5c9e7d45-678e-f4e5-40d2-b2bc4a12b1e8
8,1008,116416,1052,1,1696835650,1696698251,4b7be345-6c74-1e2d-2638-a24d8f570549
9,2,7489,380,2,1694163693,1694163688,7d7df626-2504-b435-dd1d-f26bb5a0c38c

In [28]:
response = post('https://api.igdb.com/v4/collection_membership_types', **
                {'headers': 
                 {'Client-ID':'gynzwnbf94dprczgrd0uto6uoz131z', 
                  'Authorization':'Bearer u2409t8r8i6vygc08ttuc0x4cetbyj'},
                 'data': 'fields allowed_collection_type,checksum,created_at,description,name,updated_at;'})
data = response.json()
df_collection_membership_types = pd.DataFrame(data)
df_collection_membership_types

,id,name,description,allowed_collection_type,updated_at,created_at,checksum
0,1,Member,Normal membership(i.e. is a part of) for a gam...,1,1693384727,1691486869,4a636c5f-5885-4ed9-b632-6356dbd48225
1,2,Spin-off,The game is a spin off from the series,1,1693384727,1691486869,d7a3dab3-aa48-ce32-1153-2be6f33a6627

In [30]:
response = post('https://api.igdb.com/v4/collection_relations', **
                {'headers': 
                 {'Client-ID':'gynzwnbf94dprczgrd0uto6uoz131z', 
                  'Authorization':'Bearer u2409t8r8i6vygc08ttuc0x4cetbyj'},
                 'data': 'fields checksum,child_collection,created_at,parent_collection,type,updated_at;'})
data = response.json()
df_collection_relations = pd.DataFrame(data)
df_collection_relations

,id,child_collection,parent_collection,type,updated_at,created_at,checksum
0,4,7649,380,2,1700126861,1700126861,2851ce94-296a-f90e-bea8-66cff1df205b
1,1,338,337,2,1699980563,1699980559,c469c7ae-1c8a-5a62-5670-0d6582b11ed4
2,15,2440,39,2,1701272816,1701272816,f33a8662-01f7-1ccb-6cb4-a60a7badfee9
3,22,9262,269,1,1701430318,1701430318,ae791b81-b014-1c4c-2689-944fa85c954f
4,49,5163,314,2,1701689226,1701689226,309975fc-5f5e-2651-4583-2a5cc06ad6f6
5,55,2477,314,2,1701690210,1701690210,ad8bb182-4f03-bc94-5ebc-d9278449cea7
6,62,2885,219,1,1701699208,1701699204,ce9023e6-67b3-1ef1-8601-40b32d35535f
7,65,9291,39,2,1701970040,1701970040,4d1da878-b68e-66e7-3ea6-6c6d3e980b6d
8,70,9320,39,1,1702590742,1702590732,4301cc36-43f3-05e0-1ba6-99d8d70e29fc
9,71,9321,39,1,1702592276,1702592276,31ef4cd9-a893-e4d3-b87e-7daf1c6fc7ed

In [32]:
response = post('https://api.igdb.com/v4/collection_relation_types', **
                {'headers': 
                 {'Client-ID':'gynzwnbf94dprczgrd0uto6uoz131z', 
                  'Authorization':'Bearer u2409t8r8i6vygc08ttuc0x4cetbyj'},
                 'data': 'fields allowed_child_type,allowed_parent_type,checksum,created_at,description,name,updated_at;'})
data = response.json()
df_collection_relation_types = pd.DataFrame(data)
df_collection_relation_types

,id,name,description,allowed_child_type,allowed_parent_type,updated_at,created_at,checksum
0,1,Subseries,A portion of a larger series that stands together,1,1,1691486869,1691486869,33cb4a87-ee3b-8b4e-4c0f-fda1adcd50b8
1,2,Spin-off Series,A portion of a larger series that has been spu...,1,1,1691486869,1691486869,a7bb09ed-b147-bdba-6017-8450aa0759f3

In [34]:
response = post('https://api.igdb.com/v4/collection_types', **
                {'headers': 
                 {'Client-ID':'gynzwnbf94dprczgrd0uto6uoz131z', 
                  'Authorization':'Bearer u2409t8r8i6vygc08ttuc0x4cetbyj'},
                 'data': 'fields checksum,created_at,description,name,updated_at;'})
data = response.json()
df_collection_types = pd.DataFrame(data)
df_collection_types

,id,name,description,updated_at,created_at,checksum
0,1,Series,"Default collection type, used for all series f...",1691486869,1691486869,41c9125e-0333-d2da-4b3b-051e6f26189c

In [40]:
response = post('https://api.igdb.com/v4/companies', **
                {'headers': 
                 {'Client-ID':'gynzwnbf94dprczgrd0uto6uoz131z', 
                  'Authorization':'Bearer u2409t8r8i6vygc08ttuc0x4cetbyj'},
                 'data': 'fields change_date,change_date_category,change_date_format,changed_company_id,checksum,country,created_at,description,developed,logo,name,parent,published,slug,start_date,start_date_category,start_date_format,status,updated_at,url,websites;'})
data = response.json()
df_companies = pd.DataFrame(data)
df_companies

,id,change_date_category,country,created_at,description,developed,name,slug,start_date,start_date_category,updated_at,url,websites,checksum,status,start_date_format,logo,change_date,published
0,61668,7,840.0,1739687269,CyrustheVirus Studios was established by Sheld...,[289276],CyrusTheVirus Studios,cyrusthevirus-studios,1.548979e+09,0,1739987957,https://www.igdb.com/companies/cyrusthevirus-s...,[13818],95dac7b6-f88b-6715-f88a-beac4da5d751,0,0,NaN,NaN,NaN
1,30720,7,203.0,1609096608,300AD is an independent company associating de...,"[80245, 52452, 144481, 142326, 142325, 144511,...",300AD,300ad,NaN,7,1609576801,https://www.igdb.com/companies/300ad,[4031],8d82f741-09a6-90f9-491d-91009e2dd43f,0,7,3995.0,NaN,NaN
2,540,2,276.0,1317748979,10TACLE STUDIOS was specialized in the develop...,[92755],10tacle Studios,10tacle-studios,1.072829e+09,2,1739988114,https://www.igdb.com/companies/10tacle-studios,NaN,4f819d88-70f7-ddb0-2751-08cd28130f51,1,2,1902.0,1.230682e+09,"[736, 738, 11286, 15762, 27466, 125168, 21516,..."
3,62963,7,76.0,1744336484,NaN,[339674],NoShadow,noshadow,1.630454e+09,0,1744645533,https://www.igdb.com/companies/noshadow,NaN,5bf3827a-9dcd-8a23-c7c0-bac994837728,0,0,NaN,NaN,[339674]
4,61769,7,724.0,1739988436,NaN,[332279],Mideas Game Studio,mideas-game-studio,NaN,7,1739993788,https://www.igdb.com/companies/mideas-game-studio,[13820],acb3372e-ea51-a54c-ab78-ec14b1b91925,0,7,16685.0,NaN,[332279]
5,61767,7,NaN,1739988068,NaN,[332276],Zeta Zash,zeta-zash,NaN,7,1739994350,https://www.igdb.com/companies/zeta-zash,NaN,04f35947-5285-983f-96c3-55c58989cd8f,0,7,NaN,NaN,[332276]
6,61768,7,NaN,1739988301,NaN,[332278],emokoshka,emokoshka,NaN,7,1740034052,https://www.igdb.com/companies/emokoshka,[13829],204c2b6e-b8c1-cbb0-1ce6-6df4289bc49f,0,7,NaN,NaN,[332278]
7,61715,7,NaN,1739887282,NaN,[332147],FATHILLL GAMES,fathilll-games,NaN,7,1744953086,https://www.igdb.com/companies/fathilll-games,[14395],38b23e01-31a9-f76f-29da-9a628aad23c9,0,7,16651.0,NaN,[332147]
8,20721,7,203.0,1561830304,NaN,"[120243, 134708]",Gamajun Games,gamajun-games,NaN,7,1561830461,https://www.igdb.com/companies/gamajun-games,NaN,1141ff65-c83d-9d30-b2c2-029793e39c91,0,7,NaN,NaN,NaN
9,62277,7,NaN,1741691037,NaN,NaN,Avesoft,avesoft,NaN,7,1741691038,https://www.igdb.com/companies/avesoft,NaN,915ab491-78a4-d027-3914-224be0ee647a,0,7,NaN,NaN,NaN

In [42]:
response = post('https://api.igdb.com/v4/company_statuses', **
                {'headers': 
                 {'Client-ID':'gynzwnbf94dprczgrd0uto6uoz131z', 
                  'Authorization':'Bearer u2409t8r8i6vygc08ttuc0x4cetbyj'},
                 'data': 'fields checksum,created_at,name,updated_at;'})
data = response.json()
df_companies_statuses = pd.DataFrame(data)
df_companies_statuses

   id     name  created_at  updated_at                              checksum
0   0   active  1738108800  1738108800  123e4567-e89b-12d3-a456-426614174000
1   1  defunct  1738108800  1738108800  123e4567-e89b-12d3-a456-426614174001
2   2   merged  1738108800  1738108800  123e4567-e89b-12d3-a456-426614174002
3   3  renamed  1738108800  1738108800  123e4567-e89b-12d3-a456-426614174003

In [44]:
response = post('https://api.igdb.com/v4/covers', **
                {'headers': 
                 {'Client-ID':'gynzwnbf94dprczgrd0uto6uoz131z', 
                  'Authorization':'Bearer u2409t8r8i6vygc08ttuc0x4cetbyj'},
                 'data': 'fields alpha_channel,animated,checksum,game,game_localization,height,image_id,url,width;'})
data = response.json()
df_covers = pd.DataFrame(data)
df_covers

,id,game,height,image_id,url,width,checksum,alpha_channel,animated
0,65483,100547,800,pkkd08qhfxt5cosp3hra,//images.igdb.com/igdb/image/upload/t_thumb/pk...,1260,e09f916b-04fe-8993-594e-b18435438a35,NaN,NaN
1,243407,216446,900,co57tb,//images.igdb.com/igdb/image/upload/t_thumb/co...,600,eb1b2bda-88c5-8a0d-bfce-730000505844,False,False
2,334179,269472,1600,co75ur,//images.igdb.com/igdb/image/upload/t_thumb/co...,1200,1e5c0437-a711-e9b4-5377-37b9f9da6cb8,False,False
3,136720,145578,800,co2xhs,//images.igdb.com/igdb/image/upload/t_thumb/co...,600,f369e510-d1a2-ddf5-fdc2-24fef827ccd0,False,False
4,334194,13274,1400,co75v6,//images.igdb.com/igdb/image/upload/t_thumb/co...,1050,0b3df5b0-764e-3dfd-5a70-a82f399179f6,True,False
5,136722,145580,1152,co2xhu,//images.igdb.com/igdb/image/upload/t_thumb/co...,864,826f9bb8-547b-91b3-6af3-5ea852b327e1,False,False
6,334197,269484,240,co75v9,//images.igdb.com/igdb/image/upload/t_thumb/co...,320,7253ae1e-f9e4-1082-9b9b-d1c7aff96437,False,False
7,15242,18896,360,dq7tvq2dub1xj0jnqafe,//images.igdb.com/igdb/image/upload/t_thumb/dq...,480,35bd8f63-6766-5426-d7c2-aaa34e8d8a19,NaN,NaN
8,334154,269457,800,co75u2,//images.igdb.com/igdb/image/upload/t_thumb/co...,600,646cad38-5eb7-9ffa-3bbd-330637a93dc2,False,False
9,334157,269459,800,co75u5,//images.igdb.com/igdb/image/upload/t_thumb/co...,600,443e71f7-cf15-619e-1870-2cc50468f929,True,False

In [46]:
response = post('https://api.igdb.com/v4/events', **
                {'headers': 
                 {'Client-ID':'gynzwnbf94dprczgrd0uto6uoz131z', 
                  'Authorization':'Bearer u2409t8r8i6vygc08ttuc0x4cetbyj'},
                 'data': 'fields checksum,created_at,description,end_time,event_logo,event_networks,games,live_stream_url,name,slug,start_time,time_zone,updated_at,videos;'})
data = response.json()
df_events = pd.DataFrame(data)
df_events

,id,name,description,slug,event_logo,start_time,time_zone,end_time,live_stream_url,games,videos,created_at,updated_at,checksum,event_networks
0,508,Future of Play Direct 2024,Future Of Play Direct is a fresh spin on video...,future-of-play-direct-2024,594.0,1.717862e+09,EST,1.717866e+09,https://www.youtube.com/watch?v=WXAMhQmRa_I,"[126381, 141137, 171650, 182109, 204519, 20453...","[115678, 115756, 115757, 115758, 115760, 11576...",1717616410,1731114240,76f1cdbf-9e4d-514c-54e9-61714a66af29,NaN
1,205,Summer Game Fest 2022,NaN,summer-game-fest-2022,619.0,1.654790e+09,PST,1.655060e+09,https://www.youtube.com/watch?v=RFO4BJbdpPg,"[8948, 76880, 103287, 121731, 134560, 135998, ...",NaN,1690814450,1720529741,b8f1f7f2-f5fe-377d-2322-1213b7901404,NaN
2,294,Into the Infinite: A Level Infinite Showcase,"For the first time ever, Level Infinite is bri...",into-the-infinite-a-level-infinite-showcase,448.0,1.692832e+09,CST,NaN,https://www.youtube.com/watch?v=adWKQS_Ju84,"[36646, 121751, 135998, 174684, 175001, 182190...","[44968, 59773, 78832, 83454, 84918, 90348, 917...",1692693606,1734511395,43d53d05-4465-8f41-c736-6855bbd9148c,NaN
3,213,Tribeca Games Spotlight 2022,NaN,tribeca-games-spotlight-2022,NaN,NaN,NaN,NaN,NaN,"[103287, 135995, 141704, 145784, 152242, 15228...",NaN,1690814451,1690814451,255ff625-e925-79cd-9611-8f176f95e2cc,NaN
4,175,Sonic Central,Tune into Sonic Central for all the latest new...,sonic-central,225.0,1.687532e+09,PST,NaN,https://www.youtube.com/watch?v=aK2k5-C1nQA,"[17269, 19506, 69392, 236658, 241444, 251561, ...","[86676, 90824, 91266, 92634, 92635, 92636, 926...",1687535257,1709808007,eef07766-4b89-c04f-0584-e65a288ecb9f,NaN
5,327,BlizzCon 2023,BlizzCon 2023 kicks off live with Opening Cere...,blizzcon-2023,499.0,1.699056e+09,CST,NaN,https://www.youtube.com/watch?v=g7Fu_1VWwZA,"[198157, 199925, 262536, 275170, 275171, 27517...","[100850, 100857, 100858, 100859, 100860, 10086...",1698869447,1702465301,e38211b3-38ed-e06b-ec8a-ef62f2c6299f,"[160913, 160914, 160915, 160916]"
6,340,Devolver Public Access: Holiday Special 2023,"Join Mr. Meatless, Santa, and other surprise g...",devolver-public-access-holiday-special-2023,512.0,1.703171e+09,EST,NaN,https://www.youtube.com/watch?v=h0kAJsNxeA0,"[19871, 29032, 79864, 124398, 131614, 147184, ...",NaN,1703259681,1703259681,50cb2293-b48f-813b-8701-1ae3c4c7c2f1,"[160940, 160941]"
7,214,Freedom Games Showcase 2022,NaN,freedom-games-showcase-2022,NaN,NaN,NaN,NaN,NaN,"[89594, 114025, 115473, 123269, 127563, 137051...",NaN,1690814451,1690814451,dc18170c-c828-bf26-9dc5-6a3acc469343,NaN
8,675,Yokaze Night -mini- 2024.08.23,NaN,yokaze-night-mini-2024-dot-08-dot-23,937.0,1.724414e+09,JST,1.724416e+09,https://www.youtube.com/watch?v=__r7FtzFFVs,"[77519, 119168, 135418, 147270, 151666, 151735...","[114418, 114441]",1732549230,1732559060,54dcea37-d889-70f4-ab73-54f8171a23ad,NaN
9,189,Gamescom Opening Night 2019,NaN,gamescom-opening-night-2019,352.0,1.566234e+09,EST,NaN,https://www.youtube.com/watch?v=Nq1MXSdV350,"[19164, 19564, 25581, 75240, 103292, 105482, 1...",NaN,1690814447,1702465301,7abf0234-d058-aad8-5880-fab846fb59f2,NaN

In [48]:
response = post('https://api.igdb.com/v4/event_networks', **
                {'headers': 
                 {'Client-ID':'gynzwnbf94dprczgrd0uto6uoz131z', 
                  'Authorization':'Bearer u2409t8r8i6vygc08ttuc0x4cetbyj'},
                 'data': 'fields checksum,created_at,event,network_type,updated_at,url;'})
data = response.json()
df_events_network = pd.DataFrame(data)
df_events_network

,id,event,url,network_type,created_at,updated_at,checksum
0,2604,187,https://twitter.com/perifacon?lang=pt,4,1690791746,1690791746,55a60e7b-48e7-55ce-b592-d7d74fe9a3b4
1,666,177,https://www.annapurna.com/,2,1688137884,1688137884,d9a8f353-4e32-6e6b-fa06-d2bb9c6b6937
2,668,177,https://twitter.com/A_i,4,1688137884,1688137884,0f8648c4-6596-0c99-b233-9f2a00fa3c5f
3,807,185,https://twitter.com/FirmaGamedev,4,1689240058,1689240058,49ec8670-8d3d-2ff7-db39-bcd1991ddd5b
4,160862,289,https://www.twitch.tv/thegameawards,1,1692106180,1692106180,71d3fd0a-dfdd-869c-df59-b3e2edfede97
5,160863,289,https://www.youtube.com/watch?v=CSxqwnlCi0k&ab...,3,1692106180,1692106180,bc3f6b7b-2aeb-50d8-8fe8-74ce473ad2d1
6,160864,289,https://www.gamescom.global/en/explore/onl,2,1692106180,1692106180,85839e0e-b940-2dcd-fd37-88ec16c86b87
7,160865,289,https://twitter.com/gamescom,4,1692106180,1692106180,f8632618-65f8-0b09-fad5-041d13a146fc
8,160868,276,https://t.co/7YSiwSjiHK,4,1692627709,1692627709,37d836e2-e3dc-6cc5-dbcb-df6d4b9ebabf
9,160869,292,https://mediaindieexchange.com/,2,1692692858,1692692858,02bfca56-615b-eaf9-7b08-1aa35e865918

In [50]:
response = post('https://api.igdb.com/v4/external_games', **
                {'headers': 
                 {'Client-ID':'gynzwnbf94dprczgrd0uto6uoz131z', 
                  'Authorization':'Bearer u2409t8r8i6vygc08ttuc0x4cetbyj'},
                 'data': 'fields category,checksum,countries,created_at,external_game_source,game,game_release_format,media,name,platform,uid,updated_at,url,year;'})
data = response.json()
df_external_games = pd.DataFrame(data)
df_external_games

,id,category,created_at,game,name,uid,updated_at,url,media,platform,countries,checksum,external_game_source,game_release_format,year
0,2630467,20,1669098735,204124,Tadeo Jones 3 La Tabla esmeralda PS5,B0BDBYCMCP,1745484228,https://amazon.es/dp/B0BDBYCMCP,2.0,167.0,[724],0e6bf36e-41b7-c852-6298-1cc41a350783,20,2.0,NaN
1,2972312,1,1735419879,327405,Megabonk,3405340,1743053464,https://store.steampowered.com/app/3405340,NaN,NaN,NaN,8e12e538-8ee0-7820-f6b6-6cd951b2bb6b,1,NaN,NaN
2,1309824,1,1532468230,50176,Strong Bad Episode 2: Strong Badia the Free,8350,1740127267,https://store.steampowered.com/app/8350,NaN,NaN,NaN,277b86c4-fc3f-e634-0123-e5fd1dfacf20,1,NaN,0.0
3,1838331,1,1576323073,127501,The Christmas Spirit: Grimm Tales Collector's ...,1198070,1740127244,https://store.steampowered.com/app/1198070,NaN,NaN,NaN,6e7671a1-50ba-9d0d-8a72-a2ff46e611bb,1,NaN,2019.0
4,2136788,30,1634580578,133312,hi no homo,183165,1641260688,https://zephyo.itch.io/hi-no-homo,NaN,NaN,NaN,2f8745f0-77c5-6790-24fc-c44325fb24b3,30,NaN,NaN
5,2143609,30,1634583495,184628,Planetes,102646,1657717538,https://austineast.itch.io/planetes,NaN,NaN,NaN,78a7cb27-f93e-b409-329f-b9d6c58a8558,30,NaN,NaN
6,2161398,31,1635272260,7072,Mindjack,66acd000-77fe-1000-9115-d802535107f1,1635894555,https://marketplace.xbox.com//en-US/Product/Mi...,NaN,NaN,NaN,d8ebc8a1-05f9-cb63-07b6-9d46773daed1,31,NaN,NaN
7,2137112,30,1634580653,177262,🙟 Krimson 🙝,675125,1747157576,https://cryingpsycho.itch.io/crimson,NaN,NaN,NaN,fe900d17-3cc9-6714-1ca8-c90d9289b0c9,30,NaN,NaN
8,2133717,30,1634244032,176530,Grand Fix,559764,1641266540,https://lonebot.itch.io/grand-fix,NaN,NaN,NaN,dd56280f-28d9-0650-f22d-fcb9ac3ae974,30,NaN,NaN
9,2163717,32,1635788679,179417,Preternatural Candy Shop,311503,1648735572,https://www.kartridge.com/games/cLso_nd/preter...,NaN,NaN,NaN,6b9c30c4-e633-6b5c-3ec8-fdd9a6ab2947,32,NaN,NaN

In [52]:
response = post('https://api.igdb.com/v4/external_game_sources', **
                {'headers': 
                 {'Client-ID':'gynzwnbf94dprczgrd0uto6uoz131z', 
                  'Authorization':'Bearer u2409t8r8i6vygc08ttuc0x4cetbyj'},
                 'data': 'fields checksum,created_at,name,updated_at;'})
data = response.json()
df_external_games_sources = pd.DataFrame(data)
df_external_games_sources

,id,name,created_at,updated_at,checksum
0,1,Steam,1612529709,1695207341,123e4567-e89b-12d3-a456-426614174000
1,3,GiantBomb,1612529709,1747383714,123e4567-e89b-12d3-a456-426614174002
2,5,GOG,1612529709,1765417264,123e4567-e89b-12d3-a456-426614174004
3,10,Youtube,1612529709,1695374725,123e4567-e89b-12d3-a456-426614174009
4,11,Microsoft,1612529709,1695207305,123e4567-e89b-12d3-a456-426614174010
5,13,Apple,1612529709,1695374653,123e4567-e89b-12d3-a456-426614174012
6,14,Twitch,1612529709,1697020602,123e4567-e89b-12d3-a456-426614174013
7,15,Android,1612529709,1695374608,123e4567-e89b-12d3-a456-426614174014
8,20,Amazon,1612529709,1695374524,123e4567-e89b-12d3-a456-426614174019
9,22,Amazon Luna,1622152403,1695207266,123e4567-e89b-12d3-a456-426614174021

In [54]:
response = post('https://api.igdb.com/v4/franchises', **
                {'headers': 
                 {'Client-ID':'gynzwnbf94dprczgrd0uto6uoz131z', 
                  'Authorization':'Bearer u2409t8r8i6vygc08ttuc0x4cetbyj'},
                 'data': 'fields checksum,created_at,games,name,slug,updated_at,url;'})
data = response.json()
df_franchises = pd.DataFrame(data)
df_franchises

,id,created_at,games,name,slug,updated_at,url,checksum
0,4289,1673279586,[62563],Space Dandy,space-dandy,1673279586,https://www.igdb.com/franchises/space-dandy,e0727076-87ba-9ac7-1687-fa308c5d965a
1,907,1479418914,"[2984, 3007, 5137, 5138, 5820, 6027, 6394, 688...",Dynasty Warriors,dynasty-warriors,1733054112,https://www.igdb.com/franchises/dynasty-warriors,9005942d-ad26-6c0c-7bb5-e1073babf935
2,108,1375129505,"[2823, 2822, 131687, 203060, 330139, 327029, 1...",Samurai Jack,samurai-jack,1742957407,https://www.igdb.com/franchises/samurai-jack,934ec7b6-3c52-8843-57a8-b4bfcd169abb
3,295,1391364150,[4815],The Dog,the-dog,1696818391,https://www.igdb.com/franchises/the-dog,01cc866b-0d90-4a83-4335-78a47ac495f2
4,556,1429276797,"[3141, 3803, 26986, 2431, 2430, 2429, 36893, 3...",The Bard's Tale,the-bards-tale,1742960844,https://www.igdb.com/franchises/the-bards-tale,28235262-dc9b-a5f4-ff87-2e8343f46015
5,3471,1648965024,"[61329, 61330, 66384, 69329, 84452, 123079, 16...",Tenchi Muyo,tenchi-muyo,1709713504,https://www.igdb.com/franchises/tenchi-muyo,6fb71d3a-bcb3-7f74-5c49-f672585a44bd
6,6615,1746167810,NaN,A Minecraft Movie,a-minecraft-movie,1746167810,https://www.igdb.com/franchises/a-minecraft-movie,4e938171-d764-93dc-037c-c96718b76ea7
7,4790,1691496294,[93010],Fido Dido,fido-dido,1691496294,https://www.igdb.com/franchises/fido-dido,075a6b55-501a-1cdf-323e-5bf994cc2696
8,5517,1713488196,"[89817, 96138]",Zootopia,zootopia,1717705220,https://www.igdb.com/franchises/zootopia,781e6026-dbd6-9737-9ff4-c451a3d37579
9,4583,1683478586,"[248834, 225838, 26659]",Foodfight!,foodfight,1736824001,https://www.igdb.com/franchises/foodfight,63c6ed98-51ab-b8af-9323-74efd6a44831

In [56]:
response = post('https://api.igdb.com/v4/games', **
                {'headers': 
                 {'Client-ID':'gynzwnbf94dprczgrd0uto6uoz131z', 
                  'Authorization':'Bearer u2409t8r8i6vygc08ttuc0x4cetbyj'},
                 'data': 'fields age_ratings,aggregated_rating,aggregated_rating_count,alternative_names,artworks,bundles,category,checksum,collection,collections,cover,created_at,dlcs,expanded_games,expansions,external_games,first_release_date,follows,forks,franchise,franchises,game_engines,game_localizations,game_modes,game_status,game_type,genres,hypes,involved_companies,keywords,language_supports,multiplayer_modes,name,parent_game,platforms,player_perspectives,ports,rating,rating_count,release_dates,remakes,remasters,screenshots,similar_games,slug,standalone_expansions,status,storyline,summary,tags,themes,total_rating,total_rating_count,updated_at,url,version_parent,version_title,videos,websites;'})
data = response.json()
df_games = pd.DataFrame(data)
df_games

,id,category,cover,created_at,game_engines,game_modes,genres,involved_companies,name,parent_game,...,aggregated_rating_count,alternative_names,bundles,hypes,rating,rating_count,storyline,total_rating,total_rating_count,game_localizations
0,330684,14,437074,1738949769,[439],"[1, 2, 4]","[10, 33]",[306710],Nightmare Kart: The Old Karts,295664.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,177310,0,256495,1634642434,[750],[1],"[13, 32]",[190784],The Undying Beast,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,43460,3,39875,1499154074,NaN,NaN,[25],NaN,Sengoku Anthology,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,282079,5,354470,1704811215,NaN,[1],"[5, 8]",[253727],Rockman X: New Year 2023,1741.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,338541,7,449138,1743773041,NaN,[1],[10],[314234],Mario Kart Tour: Vancouver Tour,85663.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,157761,1,380797,1626338753,NaN,[1],[13],"[144890, 144891]",Microsoft Flight Simulator X: Steam Edition - ...,36261.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,335661,0,444936,1742049962,[206],[1],"[32, 33]",[311598],Everlasting Tower,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,277441,0,344883,1700528959,NaN,NaN,"[12, 31]",NaN,King of Throwing,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,31076,0,353890,1495570221,NaN,[1],"[12, 31, 32]",NaN,Zia and the goddesses of magic,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,12503,2,84518,1441725128,NaN,[1],"[12, 31]",[26898],The Witcher 3: Wild Hunt - Hearts of Stone,1942.0,...,8.0,"[49557, 8058]","[22439, 119402]",2.0,92.307325,509.0,"Hired by the Merchant of Mirrors, Geralt is ta...",92.091163,517.0,"[25247, 27964]"

In [58]:
response = post('https://api.igdb.com/v4/game_engines', **
                {'headers': 
                 {'Client-ID':'gynzwnbf94dprczgrd0uto6uoz131z', 
                  'Authorization':'Bearer u2409t8r8i6vygc08ttuc0x4cetbyj'},
                 'data': 'fields checksum,companies,created_at,description,logo,name,platforms,slug,updated_at,url;'})
data = response.json()
df_game_engines = pd.DataFrame(data)
df_game_engines

,id,created_at,name,slug,updated_at,url,checksum,description
0,220,1428923145,Vicious Engine,vicious-engine,1742199811,https://www.igdb.com/game_engines/vicious-engine,0f880f96-6dbb-f697-023c-23a6ad46c4d8,NaN
1,1184,1612324565,Bitsy 3D,bitsy-3d,1712733853,https://www.igdb.com/game_engines/bitsy-3d,d161872e-8481-ec7e-0c21-77cb5fdb7577,NaN
2,1597,1710117501,Star Rod,star-rod,1710458589,https://www.igdb.com/game_engines/star-rod,67a67f1a-afd9-246e-d151-d87db36df2ff,Star Rod is a modding tool for Paper Mario (Ni...
3,339,1462964154,The Eight-Bit Universal Role Playing Engine,the-eight-bit-universal-role-playing-engine,1462973149,https://www.igdb.com/game_engines/the-eight-bi...,b17bcb73-cb27-39b7-54e9-a54d35a44a5a,NaN
4,127,1417615293,LS3D,ls3d,1742063529,https://www.igdb.com/game_engines/ls3d,bf6d4e0f-7c52-a066-aeec-cfb8b8781dbe,NaN
5,546,1515786978,AGS,ags,1746805933,https://www.igdb.com/game_engines/ags,c33ef6b2-cd75-d6dc-b0f2-bcb62c8e2449,NaN
6,1778,1745734509,Namco System 12,namco-system-12,1745734509,https://www.igdb.com/game_engines/namco-system-12,76c6166f-3df8-d264-33db-16f517ca72eb,NaN
7,1331,1631355458,Tiger,tiger,1733163604,https://www.igdb.com/game_engines/tiger,a15bf827-56ac-16ec-5944-bdaf4030eb20,NaN
8,1279,1625927679,MS25,ms25,1631216705,https://www.igdb.com/game_engines/ms25,41422fa4-79c6-e3ed-66ad-1e5d25ef0006,NaN
9,488,1499799492,PC,pc--1,1737703641,https://www.igdb.com/game_engines/pc--1,440ea45e-2ead-c954-7d3d-b6c5a2275133,NaN

In [60]:
response = post('https://api.igdb.com/v4/game_localizations', **
                {'headers': 
                 {'Client-ID':'gynzwnbf94dprczgrd0uto6uoz131z', 
                  'Authorization':'Bearer u2409t8r8i6vygc08ttuc0x4cetbyj'},
                 'data': 'fields checksum,cover,created_at,game,name,region,updated_at;'})
data = response.json()
df_game_localizations = pd.DataFrame(data)
df_game_localizations

,id,name,game,region,created_at,updated_at,checksum,cover
0,1292,タイニーズズズ！,216293,3,1662781167,1662945458,f1bc4aad-57f5-927c-64d9-b1c7c609f097,NaN
1,292,大乱闘スマッシュブラザーズ for Nintendo 3DS,9621,3,1661401384,1661401644,35cb5f04-8ba6-80da-ef54-a2a23bad32e5,239001.0
2,2292,두근두근 디저트 카페-힐링 카페 운영 시뮬레이션 게임,220287,2,1664934209,1664938309,e316ac96-6ed6-962f-b472-b3b1cc8b67d3,NaN
3,2,龍が如く0 誓いの場所,11397,3,1661250709,1661251079,53403328-9d61-08b5-606c-71f3156a0247,238608.0
4,1002,ゆうゆう自適のゆうかりん,166626,3,1662514293,1662522518,67a66ae1-461f-293e-a0c3-b36d21fe5f66,241498.0
5,2002,プロ野球 ファミスタ リターンズ,60057,3,1663810582,1663814349,e2d89e9d-0cb0-57d0-a5ca-63e8d60d0ce4,NaN
6,307,メイドさんクライシス - The Elegant Region Power -,210562,3,1661407213,1661410461,229eb74c-46da-19cf-e2f1-c0c679851ccb,NaN
7,2307,Castlevania,1132,4,1664978183,1664987516,5329db55-dc7a-2c56-ddff-5642e13d68b7,253400.0
8,305,LiDiA エモーショナルアドベンチャー,142147,3,1661406907,1661410460,03e8ab8c-de0c-3347-daf8-14aedfdd5bce,NaN
9,1305,フェイト/グランドオーダー アーケード,54898,3,1662804084,1662951235,79dde477-6089-7634-f168-d806181bb740,NaN

In [62]:
response = post('https://api.igdb.com/v4/game_modes', **
                {'headers': 
                 {'Client-ID':'gynzwnbf94dprczgrd0uto6uoz131z', 
                  'Authorization':'Bearer u2409t8r8i6vygc08ttuc0x4cetbyj'},
                 'data': 'fields checksum,created_at,name,slug,updated_at,url;'})
data = response.json()
df_game_mode = pd.DataFrame(data)
df_game_mode

,id,created_at,name,slug,updated_at,url,checksum
0,1,1298968834,Single player,single-player,1323289216,https://www.igdb.com/game_modes/single-player,1cc07088-c5fb-3cb2-9e68-af6620c18836
1,2,1298968853,Multiplayer,multiplayer,1323289216,https://www.igdb.com/game_modes/multiplayer,3ffef62b-e19f-6bab-d510-98385c06d902
2,3,1298968887,Co-operative,co-operative,1323289216,https://www.igdb.com/game_modes/co-operative,d154173b-5bdf-5fda-5969-e4c87e135d1a
3,4,1298968900,Split screen,split-screen,1323289216,https://www.igdb.com/game_modes/split-screen,a165517f-f166-79cb-1290-d8c8d4f157a8
4,5,1298969041,Massively Multiplayer Online (MMO),massively-multiplayer-online-mmo,1323289216,https://www.igdb.com/game_modes/massively-mult...,631ae92b-e28d-8089-dd44-48cd2febf4ea
5,6,1588855506,Battle Royale,battle-royale,1588855506,https://www.igdb.com/game_modes/battle-royale,bf9864c2-5d73-bc3a-c90b-3da8debd3292

In [70]:
response = post('https://api.igdb.com/v4/game_release_formats', **
                {'headers': 
                 {'Client-ID':'gynzwnbf94dprczgrd0uto6uoz131z', 
                  'Authorization':'Bearer u2409t8r8i6vygc08ttuc0x4cetbyj'},
                 'data': 'fields checksum,created_at,format,updated_at;'})
data = response.json()
df_game_release_formats = pd.DataFrame(data)
df_game_release_formats

   id    format  created_at  updated_at                              checksum
0   1   Digital  1738108800  1738108800  123e4567-e89b-12d3-a456-426614176000
1   2  Physical  1738108800  1738108800  123e4567-e89b-12d3-a456-426614176001

In [72]:
response = post('https://api.igdb.com/v4/game_statuses', **
                {'headers': 
                 {'Client-ID':'gynzwnbf94dprczgrd0uto6uoz131z', 
                  'Authorization':'Bearer u2409t8r8i6vygc08ttuc0x4cetbyj'},
                 'data': 'fields checksum,created_at,status,updated_at;'})
data = response.json()
df_game_statuses = pd.DataFrame(data)
df_game_statuses

,id,status,created_at,updated_at,checksum
0,0,Released,1738540800,1738540800,123e4567-e89b-12d3-a456-426614176000
1,2,Alpha,1738540800,1738540800,123e4567-e89b-12d3-a456-426614176002
2,3,Beta,1738540800,1738540800,123e4567-e89b-12d3-a456-426614176003
3,4,Early Access,1738540800,1738540800,123e4567-e89b-12d3-a456-426614176004
4,5,Offline,1738540800,1738540800,123e4567-e89b-12d3-a456-426614176005
5,6,Cancelled,1738540800,1738540800,123e4567-e89b-12d3-a456-426614176006
6,7,Rumored,1738540800,1738540800,123e4567-e89b-12d3-a456-426614176007
7,8,Delisted,1738540800,1738540800,123e4567-e89b-12d3-a456-426614176008

In [ ]:
response = post('https://api.igdb.com/v4/game_statuses', **{'headers': {'Client-ID': 'Client ID', 'Authorization': 'Bearer access_token'},'data': 'fields checksum,created_at,status,updated_at;'}